<!--
    File-name: footer.ejs
    Author's name: Tony Bogun   
    Web-site name: antonybogun2.herokuapp.com
    File description: Contains website footer markup
 -->

<footer class="text-center">
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    &copy; 2017 Tony Bogun
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- JAVASCRIPT SECTION -->

<script src="/Scripts/lib/jquery/dist/jquery.min.js"></script>
<script src="/Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/Scripts/app.js"></script>
</body>

</html>