<!--
    File-name: header.ejs
    Author's name: Tony Bogun   
    Web-site name: antonybogun2.herokuapp.com
    File description: Contains content of website header
 -->


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        <%= title %>
    </title>
    <!-- CSS SECTION -->
    <link rel="stylesheet" href="/Scripts/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Scripts/lib/font-awesome/css/font-awesome.min.css">
    <link rel='stylesheet' href='/Content/theme.css' />
    <link rel='stylesheet' href='/Content/app.css' />
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"> <i class="fa fa-id-card" aria-hidden="true"></i> Tony Bogun's Portfolio</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <% if(title == "Home") { %>
                        <li class="active"><a href="/"> <i class="fa fa-home" aria-hidden="true"></i> Homepage</a></li>
                        <li><a href="/about"><i class="fa fa-id-badge" aria-hidden="true"></i> About</a></li>
                        <li><a href="/projects"><i class="fa fa-cogs" aria-hidden="true"></i> Projects</a></li>
                        <li><a href="/services"><i class="fa fa-server" aria-hidden="true"></i> Services</a></li>
                        <li><a href="/contacts"><i class="fa fa-address-book-o" aria-hidden="true"></i> Contact List</a></li>
                        <li><a href="/contact"><i class="fa fa-envelope" aria-hidden="true"> </i> Contact</a></li>
                    <% } else if (title == "About") { %>
                        <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i> Homepage</a></li>
                        <li class="active"><a href="/about"><i class="fa fa-id-badge" aria-hidden="true"></i> About</a></li>
                        <li><a href="/projects"><i class="fa fa-cogs" aria-hidden="true"></i> Projects</a></li>
                        <li><a href="/services"><i class="fa fa-server" aria-hidden="true"></i> Services</a></li>
                        <li><a href="/contacts"><i class="fa fa-address-book-o" aria-hidden="true"></i> Contact List</a></li>
                        <li><a href="/contact"> <i class="fa fa-envelope" aria-hidden="true"> </i> Contact</a></li>
                    <% } else if (title == "Projects") { %>
                        <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i> Homepage</a></li>
                        <li><a href="/about"><i class="fa fa-id-badge" aria-hidden="true"></i> About</a></li>
                        <li class="active"><a href="/projects"><i class="fa fa-cogs" aria-hidden="true"></i> Projects</a></li>
                        <li><a href="/services"><i class="fa fa-server" aria-hidden="true"></i> Services</a></li>
                        <li><a href="/contacts"><i class="fa fa-address-book-o" aria-hidden="true"></i> Contact List</a></li>
                        <li><a href="/contact"> <i class="fa fa-envelope" aria-hidden="true"> </i> Contact</li></a></li>
                    <% } else if (title == "Services") { %>
                        <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i> Homepage</a></li>
                        <li><a href="/about"><i class="fa fa-id-badge" aria-hidden="true"></i> About</a></li>
                        <li><a href="/projects"> <i class="fa fa-cogs" aria-hidden="true"></i> Projects</a></li>
                        <li class="active"><a href="/services"><i class="fa fa-server" aria-hidden="true"></i> Services</a></li>
                        <li><a href="/contacts"><i class="fa fa-address-book-o" aria-hidden="true"></i> Contact List</a></li>
                        <li><a href="/contact"><i class="fa fa-envelope" aria-hidden="true"> </i> Contact</a></li>
                    <% } else if (title == "Contact List") { %>
                        <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i> Homepage</a></li>
                        <li><a href="/about"><i class="fa fa-id-badge" aria-hidden="true"></i> About</a></li>
                        <li><a href="/projects"> <i class="fa fa-cogs" aria-hidden="true"></i> Projects</a></li>
                        <li><a href="/services"><i class="fa fa-server" aria-hidden="true"></i> Services</a></li>
                        <li class="active"><a href="/contacts"><i class="fa fa-address-book-o" aria-hidden="true"></i> Contact List</a></li>
                        <li><a href="/contact"><i class="fa fa-envelope" aria-hidden="true"> </i> Contact</a></li>
                    <% } else if (title == "Contact") { %>
                        <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i> Homepage</a></li>
                        <li><a href="/about"><i class="fa fa-id-badge" aria-hidden="true"></i> About</a></li>
                        <li><a href="/projects"> <i class="fa fa-cogs" aria-hidden="true"></i> Projects</a></li>
                        <li><a href="/services"><i class="fa fa-server" aria-hidden="true"></i> Services</a></li>
                        <li><a href="/contacts"><i class="fa fa-address-book-o" aria-hidden="true"></i> Contact List</a></li>
                        <li class="active"><a href="/contact"><i class="fa fa-envelope" aria-hidden="true"> </i> Contact</a></li>
                    <% } %>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>