<!--
    File-name: about.ejs
    Author's name: Tony Bogun   
    Web-site name: antonybogun.herokuapp.com
    File description: Contains content of About page
 -->


<% include ../partials/header.ejs %>

    <!-- CONTENT PAGE FOR ABOUT -->
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-md-offset-1">
                <img class="img-rounded img-responsive" src="Assets/images/photo.jpg" alt="">
            </div>
            <div class="col-md-7">
                <h4 class="list-group-item-heading " style="padding-left:15px">Hi,<br/><br/> I am a Software Developer from Toronto, Ontario, Canada. <br/><br/> My key skills and competencies are:
                </h4>
                <br/>
                <div class=" ist-group">
                    <a href="# " class="list-group-item ">
                        <h4 class="list-group-item-heading ">Web Development</h4>
                        <p class="list-group-item-text ">HTML5, CSS3, JavaScript, TypeScript, Node.js, MVC, JSON, REST Web Services </p>
                    </a>
                    <a href="# " class="list-group-item ">
                        <h4 class="list-group-item-heading ">.NET Development</h4>
                        <p class="list-group-item-text ">Microsoft SQL Server, Transact-SQL,C# .NET, Entity Framework, ASP.NET, Azure Cloud Services</p>
                    </a>
                    <a href="# " class="list-group-item ">
                        <h4 class="list-group-item-heading ">Software Engineering</h4>
                        <p class="list-group-item-text ">Software Development Life Cycle (SDLC), Agile SDLC, Object Oriented Methodology, Software Testing and Quality Assurance, TDD and Unit testing, Git version control system</p>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <% include ../partials/footer.ejs %>