<!--
    File-name: err.ejs
    Author's name: Tony Bogun   
    Web-site name: antonybogun2.herokuapp.com
    File description: Contains error page markup
 -->


<h1>
    <%= message %>
</h1>
<h2>
    <%= error.status %>
</h2>
<pre><%= error.stack %></pre>