<!--
    File-name: details.ejs
    Author's name: Tony Bogun   
    Web-site name: antonybogun2.herokuapp.com
    File description: Contains contact details page markup
 -->

<% include ../partials/header.ejs %>

  <!-- MAIN CONTENT -->
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <h1>
          <%= title %>
        </h1>
        <form class="form" method="post">

          <div class="form-group">
            <label for="NameTextField">Name</label>
            <input type="text" class="form-control" id="NameTextField" placeholder="Contact Name" name="name" value="<%= contacts.Name %>"
              required>
          </div>

          <div class="form-group">
            <label for="PhoneNumberTextField">Phone Number</label>
            <input type="text" class="form-control" id="PhoneNumberTextField" placeholder="Contact Phone Number" name="phoneNumber" value="<%= contacts.PhoneNumber %>"
              required>
          </div>

          <div class="form-group">
            <label for="EmailTextField">Email</label>
            <input type="text" class="form-control" id="EmailTextField" placeholder="Contact Email" name="email" value="<%= contacts.Email %>"
              required>
          </div>

          <button type="submit" class="btn btn-primary"><i class="fa fa-check-square-o"></i> Submit</button>
          <a href="/contacts" class="btn btn-warning"><i class="fa fa-undo"></i> Cancel</a>
        </form>
      </div>
    </div>
  </div>

  <% include ../partials/footer.ejs %>