<!--
    File-name: projects.ejs
    Author's name: Tony Bogun   
    Web-site name: antonybogun2.herokuapp.com
    File description: Contains content of Projects page
 -->

<% include ../partials/header.ejs %>

    <!-- CONTENT PAGE FOR HOME -->
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Retail Store Inventory Management</h3>
                    </div>
                    <div class="panel-body">
                        Developed a web-based inventory management application for a retail store to supplement the existing Point of Sale software. The application addressed client's needs to purchase goods by weight, processing and generating lists of items for further import
                        to the existing Point of Sale database. <br/><br/> • Used ASP.NET, C# and Microsoft SQL Server <br/> • Deployed on intranet server for simultaneous multiuser access <br/> • Improved efficiency of goods processing
                        by 30%

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">E-Commerce Web Store</h3>
                    </div>
                    <div class="panel-body">
                        The project deals with a business-to-customer aspect of electronic commerce. As a developer of 3-person team developed a web-site that provides a catalog of available goods, facilitates shopping cart for online purchase. <br/><br/>                        • Used HTML for view, JavaScript for client-side scripting, and ASP.NET for server-side scripting<br/> • Utilized relational database using SQL Server management system<br/> • Deployed on Azure Cloud Services
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">JavaScript Arcade Game</h3>
                    </div>
                    <div class="panel-body">
                        Designed and created side-scroller arcade web-game with engine implemented from scratch. The game consists of three levels and allows the player to move infinitely in the environment, gather items, and shoot enemies for scoring points. <br/>                        <br/> • Utilized HTML5, CSS3, JavaScript, TypeScript, CreateJS, JSON technologies<br/> • Used Extreme Programming methodology for fast and robust code production<br/> • Managed repository on Git and GitHub for version control and
                        collaboration purposes
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include ../partials/footer.ejs %>