<!--
    File-name: services.ejs
    Author's name: Tony Bogun   
    Web-site name: antonybogun.herokuapp.com
    File description: Contains content of Services page
 -->

<% include ../partials/header.ejs %>

    <!-- CONTENT PAGE FOR SERVICES -->
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-2">
                <h4 class="list-group-item-heading " style="padding-left:15px">Currently, I am providing consulting services for a wide range of IT-related issues including
                </h4>
                <br/>
                <div class="list-group text-center">
                    <a href="# " class="list-group-item ">
                        <h4 class="list-group-item-heading ">Software Development</h4>
                    </a>
                    <a href="# " class="list-group-item ">
                        <h4 class="list-group-item-heading ">Network Administration</h4>
                    </a>
                    <a href="# " class="list-group-item ">
                        <h4 class="list-group-item-heading ">Computer Hardware Maintenance</h4>
                    </a>
                    <a href="# " class="list-group-item ">
                        <h4 class="list-group-item-heading ">Computer Software Maintenance</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <% include ../partials/footer.ejs %>